h2{
    color:  #EEEEEE;
    text-align: center;
}

h3{
    color: #EEEEEE;
    text-align: center;
    height: 60px;
}

a:link {
    color: pink;
}
    
a:visited {
    color: pink;
}

body {
    background: -webkit-linear-gradient(90deg, rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%);
    background: linear-gradient(90deg, rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%);
}

table {
    box-shadow: 0 2px 30px black;
    border-radius: 15px 15px;
    overflow: hidden;
}

thead {
    text-align: center;
}

tbody {
    text-align: center;
    background-color: #EEEEEE;
}
