body {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);        
    padding-top: 200px;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

h2 {
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer {
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 30px;
}
